* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --text-color: #89c5cc;
}

#app {
  margin: 65px 153px 0 122px;
}

header {
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: space-between;
}

#logotreineme {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  width: 103px;
  height: 22px;
  font-size: 22px;
  line-height: 26px;
  border: 1px solid rgb(0, 0, 0);
}

#navegation {
  display: flex;
  width: 267px;
  height: 23px;
  justify-content: space-between;
}

button {
  display: block;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  border-style: none;
  font-weight: 400px;
  line-height: 22.59px;
}

#logo {
  display: flex;

  border: 1px solid red;
  margin: auto;
}

#content {
  display: flex;
  margin-top: 110px;
  border: 1px solid blue;
  justify-content: space-between;
}

#content-left h1 {
  font-family: "Mulish", sans-serif;
  width: 489px;
  height: 112px;
  border: 1px solid red;
  font-size: 49px;
  line-height: 56px;
  font-weight: 400;
}
#content-left h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
  width: 438px;
  height: 84px;
  margin-top: 40px;
}

#whatsapp {
  display: block;
  border-radius: 4px;
  width: 179px;
  height: 56px;
  margin-top: 40px;
  background-color: #10fba9;
  
}

#whatsapp img {
  display: flex;
  align-items: center;
  border: 1px solid red;
  
}

#whatsapp p {
  display: inline;
  border: 1px solid rgb(237, 189, 17);
}

#destacado {
  color: #89c5cc;
}

footer {
  display: flex;
  background-color: aqua;
  width: 592px;
  margin: auto;
  margin-top: 5px;
  height: 28px;
}
p {
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 28px;
}
