* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

header{
  border: 1px solid red;
}

span{
  display: block;
  border: 1px solid red;
  width: 1005px;
  height: 23px;
  
}

#logo
{
  display: flex;
  background-color: black;
  border: 1px solid red;
  margin: auto;
}

footer{
  display: flex;
  background-color: aqua;
  width: 592px;
  margin: auto;
  height: 28px  
}
p{
  margin: auto;
  background-color: chartreuse;
}