* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
}
header {
  border: 1px solid rgb(0, 0, 0);
}

#logotreino {
  color: #89c5cc;
  font-family: "Inter", sans-serif;
  width: 103px;
  height: 22px;
  font-size: 22px;
  line-height: 26px;

  margin-left: 122px;
  margin-top: 65px;
}

#navegation {
  display: flex;
  width: 267px;
  height: 23px;
  border: 1px solid red;
  text-align: ;
}

#logo {
  display: flex;
  background-color: black;
  border: 1px solid red;
  margin: auto;
}

#content {
  display: flex;
}

#content-left {
  width: 50vh;
  margin: auto;
}

#content-left h1 {
  font-family: "Mulish", sans-serif;
  margin-bottom: 40px;
}
#content-left h2 {
  font-family: "Open Sans", sans-serif;
}

#destacado {
  color: #89c5cc;
}

footer {
  display: flex;
  background-color: aqua;
  width: 592px;
  margin: auto;
  height: 28px;
}
p {
  margin: auto;
}

#whatsapp {
  background-color: black;
  width: fit-content;
}
